<!DOCTYPE html>
<html lang="en">

<head>
	<title>DevCard - Bootstrap 5 vCard &amp; Portfolio Template For Developers</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tiago Fonseca da Silva">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<!-- FontAwesome JS -->
	<script defer src="fontawesome/js/all.js"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="css/theme-1.css">

</head>

<body>

	<header class="header text-center">
		<div class="force-overflow">
			<h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/">Tiago Fonseca da Silva</a></h1>

			<nav class="navbar navbar-expand-lg navbar-dark">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="navigation" class="collapse navbar-collapse flex-column">
					<div class="profile-section pt-3 pt-lg-0">
						<img class="profile-image mb-3 rounded-circle mx-auto" src="images/profile.jpg" alt="image">

						<div class="bio mb-3">Hi, my name is Tiago Fonseca da Silva and I'm a senior software engineer.
							Welcome to my personal website!</div>
						<!--//bio-->
						<ul class="social-list list-inline py-2 mx-auto">
							<li class="list-inline-item"><a
									href="https://www.linkedin.com/in/tiagofonsecasilva/"><i
										class="fab fa-linkedin-in fa-fw"></i></a></li>
							<li class="list-inline-item"><a href="https://github.com/tiagofonsecasilva"><i class="fab fa-github-alt fa-fw"></i></a></li>
							</li>
							<li class="list-inline-item"><a href="https://codepen.io/whitesock23"><i class="fab fa-codepen fa-fw"></i></a></li>
						</ul>
						<!--//social-list-->
						<hr>
					</div>
					<!--//profile-section-->

										<ul class="navbar-nav flex-column text-start">
						<li class="nav-item">
							<a class="nav-link active" href="/"><i class="fas fa-user fa-fw me-2"></i>About Me<span
									class="sr-only">(current)</span></a>
						</li>
						{{!-- <li class="nav-item">
							<a class="nav-link" href="portfolio"><i
									class="fas fa-laptop-code fa-fw me-2"></i>Portfolio</a>
						</li> --}}
						{{!-- <li class="nav-item">
							<a class="nav-link" href="services"><i class="fas fa-briefcase fa-fw me-2"></i>Services
								&amp; Pricing</a>
						</li> --}}
						<li class="nav-item">
							<a class="nav-link" href="resume"><i class="fas fa-file-alt fa-fw me-2"></i>Resume</a>
						</li>
						{{!-- <li class="nav-item">
							<a class="nav-link" href="blog-home"><i class="fas fa-blog fa-fw me-2"></i>Blog</a>
						</li> --}}
						<li class="nav-item">
							<a class="nav-link" href="contact"><i
									class="fas fa-envelope-open-text fa-fw me-2"></i>Contact</a>
						</li>
						{{!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-cogs fa-fw me-2"></i>More Pages
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="project">Project Page</a></li>
								<li><a class="dropdown-item" href="blog-home">Blog Home 1</a></li>
								<li><a class="dropdown-item" href="blog-home-alt">Blog Home 2</a></li>
								<li><a class="dropdown-item" href="blog-post">Blog Post</a></li>
							</ul>
						</li> --}}
					</ul>

					<div class="my-2">
						<a class="btn btn-primary" href="contact" target="_blank"><i
								class="fas fa-paper-plane me-2"></i>Hire Me</a>
					</div>


					<div class="dark-mode-toggle text-center w-100">
						<hr class="mb-4">
						<h4 class="toggle-name mb-3 "><i class="fas fa-adjust me-1"></i>Dark Mode</h4>

						<input class="toggle" id="darkmode" type="checkbox">
						<label class="toggle-btn mx-auto mb-0" for="darkmode"></label>

					</div>
					<!--//dark-mode-toggle-->
				</div>
			</nav>
		</div>
		<!--//force-overflow-->
	</header>

	<div class="main-wrapper">
		<section class="cta-section theme-bg-light py-5">
			<div class="container text-center single-col-max-width">
				<h2 class="heading mb-3">Online Resume</h2>
				<a class="btn btn-primary " href="CV_Tiago_Fonseca_2021.pdf" target="_blank"><i
						class="fas fa-file-pdf me-2"></i>Download PDF Version</a>


			</div>
			<!--//container-->
		</section>
		<div class="container resume-container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase">Tiago Fonseca da Silva</h2>
							<div class="resume-tagline mb-3 mb-md-0">Startup Entrepreneur & Front-End Developer</div>
						</div>
						<!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a
										class="resume-link" href="tel:#">+351 91 7830996</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a
										class="resume-link" href="mailto:#">contact@tiagoseixas.com</a></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link"
										href="https://tiagoseixas.com">tiagoseixas.com</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Lisbon</li>
							</ul>
						</div>
						<!--//resume-contact-->
					</div>
					<!--//row-->

				</div>
				<!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="row align-items-center">
						<div class="col-12 col-md-3 col-xl-2 text-center">
							<img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto"
								src="images/profile.jpg" alt="image">
						</div>

						<div class="col text-start">
							<p class="mb-0">I’m a Full-stack developer now. Being in love by sustainability, diversity
								and social change but I always had a crush on technology and special ways to implement
								ideas. I worked for more than 17 years as Social Developer, Sustainability Consultant
								and front-end developer I’m now a full stack developer, and it has been quite a ride: I
								have established new grounds in sustainability, provided training, worked with
								international clients, self-taught myself most of it and I found a new passion in
								software programming. </p>
						</div>
						<!--//col-->
					</div>
				</div>
				<!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Founder and
											Front-End Developer</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
											CORE | 2014 - Present</div>

									</div>
									<div class="item-content">
										<p>As a startup founder I development and implement skills to let CORE reach and
											communicate efficiency with clients, thought multiple websites
											implementation, seo strategies. I also worked as team leader focusing to
											accomplish client needs on time, engaging the rest of the team.</p>
									</div>
								</div>
								<!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Other Experiences
										</h4>

									</div>
								</div>
								<!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Ethical and
											Corporate Social Responsability Trainner</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
											CASES | 2021 - Present</div>

									</div>
								</div>
								<!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Podcast Host @
											Conversas com Impacto</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
											Conversas com impacto | 2018 - Present</div>

									</div>

									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Sustainability
												&nbsp; Corporate Responsibility Consultant</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
												CORE CRL | 2013 - Present</div>

										</div>
									</div>
									<!--//item-->
									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Secretary
												General &nbsp; South Europe Region Director</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
												UK - IACD | 2010 – 2013</div>

										</div>
									</div>
									<!--//item-->
									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Assistant Team
												Leader - Housing First Program</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
												CORE CRL | 2009 – 2012</div>

										</div>
									</div>
									<!--//item-->
									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Professor
												Assistant &nbsp; Research Assistant</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
												ISPA-IU | 2008 – 2012</div>

										</div>
									</div>
									<!--//item-->
									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Case Manager in
												a Homeless Shelter</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
												AMI - Global Humanitarian | 2004 – 2009</div>

										</div>
									</div>
									<!--//item-->

							</section>
							<!--//work-section-->


							<section class="project-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Full-Stack
											Developer
										</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
											Open Source</div>

									</div>
									<div class="item-content">
										<p>
										<ul>
											<div class="row">
												<div class="col-md-6">
													<li><a href="https://github.com/tiagofonsecasilva/eve-assistant">
															Eve - Intranet Virtual Assistance</li></a>
													<li><a href="https://github.com/tiagofonsecasilva/populis">Ironhacking
															- Cleaning Inclusive Game</li></a>
												</div>
												<div class="col-md-6">
												<li><a href="https://github.com/tiagofonsecasilva/ironhacking">Populis -
														Electronic Vote</li></a></div>
											</div>
										</ul>
										</p>


									</div>
								</div>
								<!--//item-->
								<div class="item">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Front-End</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-right">
											Commercial</div>

									</div>

									<div class="item-content">
										<p>
										<ul>
											<div class="row">
												<div class="col-md-6">
													<li><a href="https://core.org.pt">
															Institutional Website - CORE CRL</li></a>
													<li><a href="https://crowd.quebraacorrente.pt/">Platform
															- Crowdfunding Quebr’a Corrente</li></a>
													<li><a href="https://orse.eu">Platform
															- Observatório da Responsabilidade Social</li></a>
												</div>
												<div class="col-md-6">
													<li><a href="https://diretorio.orse.eu">
															Directory de Responsabilidade Social</li></a>
													<li><a href="https://ces-fonteboa.pt/">Website
															institutional CES-Fonte Boa</li></a>
												</div>
											</div>
										</ul>
										</p>

									</div>
								</div>
								<!--//item-->
							</section>
							<!--//project-section-->
						</div>
						<!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">
									<h4 class="item-title">Technical</h4>
									<ul class="list-unstyled resume-skills-list">
										<button type="button" class="btn btn-primary">JavaScript/React</button>
										<button type="button" class="btn btn-primary">Node.js/Express/Mongo
										</button>
										<button type="button" class="btn btn-primary">HTML/CSS/Wordpress</button>
										<button type="button" class="btn btn-primary">Docker/Proxmox/Kubernetes</button>
										<button type="button" class="btn btn-primary">Cloudflare/Pfsense</button>
									</ul>
								</div>
								<!--//item-->
								<div class="item">
									<h4 class="item-title">Professional</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">Effective communication</li>
										<li class="mb-2">Team player
										<li>
										<li class="mb-2">Strong problem solver</li>
										<li>Good time management</li>
									</ul>
								</div>
								<!--//item-->
							</section>
							<!--//skills-section-->
							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<ul class="list-unstyled resume-education-list">
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">FullStack-Developer</div>
										<div class="resume-degree-org text-muted">Ironhack Lisbon</div>
										<div class="resume-degree-time text-muted">2021 - 2021</div>
									</li>
									<li>
										<div class="resume-degree font-weight-bold">MSc in Community Psychology</div>
										<div class="resume-degree-org text-muted">ISPA University</div>
										<div class="resume-degree-time text-muted">2013-2015</div>
									</li>
								</ul>
							</section>
							<!--//education-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
								<ul class="list-unstyled resume-lang-list">
									<li class="mb-2">Portuguese <span class="text-muted">(Native)</span></li>
									<li>English <span class="text-muted">(Professional)</span></li>
									<li>Spanish <span class="text-muted">(Professional)</span></li>
									<li>Italian <span class="text-muted">(Conversation)</span></li>

								</ul>
							</section>
							<!--//certificates-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									<li class="mb-2">Fencing</li>
									<li class="mb-2">Surfing</li>
									<li class="mb-2">Travelling</li>
								</ul>
							</section>
							<!--//certificates-section-->

						</aside>
						<!--//resume-aside-->
					</div>
					<!--//row-->
				</div>
				<!--//resume-body-->
				<hr>
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://github.com/tiagofonsecasilva"><i
									class="fab fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">github.com/tiagofonsecasilva</span></a></li>
						<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://www.linkedin.com/in/tiago-fonseca-da-silva-5b1958215/"><i
									class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">linkedin.com/in/tiago-fonseca-da-silva-5b1958215/</span></a></li>
					</ul>
				</div>
				<!--//resume-footer-->
			</article>

		</div>
		<!--//container-->

		<footer class="footer text-center py-4">
			<small class="copyright">Tiago Fonseca da Silva &copy; <a href="/" target="_blank">FullStack-Developer</a></small>
		</footer>

	</div>
	<!--//main-wrapper-->

	<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
	<div id="config-panel" class="config-panel config-panel-hide d-none d-lg-block">
		<div class="panel-inner">
			<a id="config-trigger" class="config-trigger text-center" href="#"><i class="fas fa-cog mx-auto"
					data-fa-transform="down-6"></i></a>
			<h5 class="panel-title">Choose Colour</h5>
			<ul id="color-options" class="list-inline mb-0">
				<li class="theme-1 active list-inline-item"><a data-style="css/theme-1.css" href="#"></a></li>
				<li class="theme-2  list-inline-item"><a data-style="css/theme-2.css" href="#"></a></li>
				<li class="theme-3  list-inline-item"><a data-style="css/theme-3.css" href="#"></a></li>
				<li class="theme-4  list-inline-item"><a data-style="css/theme-4.css" href="#"></a></li>
				<li class="theme-5  list-inline-item"><a data-style="css/theme-5.css" href="#"></a></li>
				<li class="theme-6  list-inline-item"><a data-style="css/theme-6.css" href="#"></a></li>
				<li class="theme-7  list-inline-item"><a data-style="css/theme-7.css" href="#"></a></li>
				<li class="theme-8  list-inline-item"><a data-style="css/theme-8.css" href="#"></a></li>
				<li class="theme-9  list-inline-item"><a data-style="css/theme-9.css" href="#"></a></li>
				<li class="theme-10  list-inline-item"><a data-style="css/theme-10.css" href="#"></a></li>
			</ul>
			<a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
		</div>
		<!--//panel-inner-->
	</div>
	<!--//configure-panel-->

	<!-- Javascript -->
	<script src="plugins/popper.min.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Dark Mode -->
	<script src="plugins/js-cookie.min.js"></script>
	<script src="js/dark-mode.js"></script>

	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src="js/demo/style-switcher.js"></script>


</body>

</html>
